**/target/
**/*.rs.bk
completions/

Dockerfile
.dockerignore
docker-compose.yml
docker
docs
ci

.git
.gitignore

.envrc
.editorconfig
shell.nix

*.sw[op]

README.md
LICENSE
Makefile.toml
rustfmt.toml
justfile
