#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 2.4.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.4.0/direnvrc" "sha256-XQzUAvL6pysIJnRJyR7uVpmUSZfc7LSgWQwq/4mBr1U="
fi

if "${NIX_BIN_PREFIX}nix" --extra-experimental-features '' --version 2>/dev/null >&2; then
    use flake
else
    echo -e "\e[38;5;3;1mwarning:\033[0m using legacy nix, upgrade nix version via \`nix-env -iA nixpkgs.nixUnstable\` if you want to use flake"
    use_nix
fi

watch_file ./flake.nix
