**/target/
**/*.rs.bk

*.swp
*.swo
*.swn
*.DS_Store

# Visual Studio Code stuff
.vscode

# GitEye stuff
.project

# idea ide
.idea

# git stuff
.git

# nix build result
result

# direnv cache
.direnv
