[Unit]
Description=Starts the clipboard daemon

[Service]
Type=simple
ExecStart=sh -c "PATH=~/.cargo/bin:$PATH clipcatd --no-daemon"
Restart=on-failure

[Install]
WantedBy=default.target
