[package]
name                 = "clipcat-server"
description          = "Clipcat server"
version.workspace    = true
authors.workspace    = true
homepage.workspace   = true
readme.workspace     = true
repository.workspace = true
license.workspace    = true
edition.workspace    = true
categories.workspace = true
keywords.workspace   = true

[dependencies]
tracing = "0.1"

bincode = "1"
serde   = { version = "1", features = ["derive"] }

async-trait = "0.1"
futures     = "0.3"
sigfinn     = "0.1"
tokio       = { version = "1", features = ["rt-multi-thread", "macros", "sync"] }

tonic = { version = "0.10", features = ["gzip"] }

mime = "0.3"
snafu = "0.7"
time = { version = "0.3", features = [
  "formatting",
  "macros",
  "parsing",
  "serde",
] }

clipcat           = { path = "../core" }
clipcat-clipboard = { path = "../clipboard" }
clipcat-proto     = { path = "../proto" }

[lints]
workspace = true
